version: "3.9"

services:
  auth-api:
    build: .
    container_name: auth-api
    restart: always
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@auth-db:5432/authdb
      - JWT_SECRET_KEY=supersecretkey
      - JWT_ALGORITHM=HS256
    depends_on:
      - auth-db

  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5434:5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data

volumes:
  auth-db-data:
